<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Snippets</title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" type="text/css" href="/static/css/new_snippet.css">
</head>

<body>
  <header>
  </header>
  <h2>This is the Snippet Editor</h2>
  <div class="all_snippets_wrapper">
      {{#snippet}}
        <div class="snippet_wrapper">
          <form action="/snippet/{{_id}}/edit/" method="POST">
            <p>
              <label for="title">Title:</label>
              <input type="text" id="title" name="title" placeholder:"{{title}}" required />
            </p>

            <label for="language">Language: </label>
            <select name="language" id="language" placeholder:"{{language}}">
            <option value="Javascript">Javascript</option>
            <option value="Java">Java</option>
            <option value="Ruby">Ruby</option>
            <option value="HTML">HTML</option>
            <option value="JSON">JSON</option>
            <option value="CSS">CSS</option>
            <option value="text">text</option>
          </select>

            <label for="body">Code: </label>
            <input type="textarea" name="body" id="body" placeholder="{{body}}" />
          <label>Date Created: {{date_created}}</label>
            <label for="notes">Notes: </label>
            <input type="textarea" name="notes" id="notes" placeholder="{{notes}}"/>

            <label for="tags">Tags: </label>
            <input type="text" name="tags" id="tags" placeholder="{{tags}}"/>
            <input type="submit" value="submit" name="submit" />

          </form>
        </div>
      {{/snippet}}
</div>
</body>

</html>
