 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>TITLE</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">
 </head>

 <body>
   <h2>These are the snippets by: {{user}}</h2>
  {{#snippet}}
  <ul>
    <li>
      {{title}}
    </li>
  </ul>
  {{/snippet}}
 </body>

 </html>
